Capstone Project 
Python Fundamentals

Task 1: Create and Save DataFrames as CSV Files

In [1]:
import pandas as pd
import numpy as np

# Define the data for each DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'New York', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}

# Create DataFrames
df_project = pd.DataFrame(project_data)
df_employee = pd.DataFrame(employee_data)
df_seniority = pd.DataFrame(seniority_data)

# Save DataFrames to CSV files
df_project.to_csv('project_data.csv', index=False)
df_employee.to_csv('employee_data.csv', index=False)
df_seniority.to_csv('seniority_data.csv', index=False)

Task 2: Compute Missing Values in Project DataFrame using Running Average

In [2]:
# Reload the Project DataFrame from CSV for Task 2
df_project = pd.read_csv('project_data.csv')

# Compute missing values in Cost column using running average
running_avg = 0
count = 0

for index, row in df_project.iterrows():
    if pd.isna(row['Cost']):
        df_project.at[index, 'Cost'] = running_avg
    running_avg = df_project['Cost'].mean()  # Update running average
    count += 1

# Save updated DataFrame to CSV
df_project.to_csv('project_data_task2.csv', index=False)

Task 3: Split Name Column in Employee DataFrame

In [6]:
import pandas as pd

# Reload the Employee DataFrame from CSV for Task 3
df_employee = pd.read_csv('employee_data.csv')

# Split 'Name' column into 'First Name' and 'Last Name'
name_split = df_employee['Name'].str.split(' ', n=1, expand=True)
df_employee['First Name'] = name_split[0]
df_employee['Last Name'] = name_split[1].fillna('')  # Handling cases where there might not be a last name

# Drop the older 'Name' column
df_employee.drop(columns=['Name'], inplace=True)

# Save updated DataFrame to CSV
df_employee.to_csv('employee_data_task3.csv', index=False)

Task 4: Join all DataFrames into a Single DataFrame

In [7]:
# Reload all DataFrames from CSV for Task 4
df_project = pd.read_csv('project_data_task2.csv')
df_employee = pd.read_csv('employee_data_task3.csv')
df_seniority = pd.read_csv('seniority_data.csv')

# Merge DataFrames
df_final = pd.merge(df_project, df_employee, on='ID')
df_final = pd.merge(df_final, df_seniority, on='ID')

# Save merged DataFrame to CSV
df_final.to_csv('final_data_task4.csv', index=False)

Task 5: Add a Bonus Column in Final DataFrame

In [8]:
# Reload the Final DataFrame from CSV for Task 5
df_final = pd.read_csv('final_data_task4.csv')

# Add a bonus column (5% bonus on project cost for finished projects)
df_final['Bonus'] = np.where(df_final['Status'] == 'Finished', 0.05 * df_final['Cost'], 0)

# Save updated DataFrame to CSV
df_final.to_csv('final_data_task5.csv', index=False)

Task 6: Demote Designation Level and Remove Records Above Level 4

In [9]:
# Reload the Final DataFrame from CSV for Task 6
df_final = pd.read_csv('final_data_task5.csv')

# Demote designation level by 1 for employees with failed projects
df_final.loc[df_final['Status'] == 'Failed', 'Designation Level'] -= 1

# Remove employees whose designation level is above 4
df_final = df_final[df_final['Designation Level'] <= 4]

# Save updated DataFrame to CSV
df_final.to_csv('final_data_task6.csv', index=False)

Task 7: Add "Mr." and "Mrs." to First Name Column and Drop Gender Column

In [10]:
# Reload the Final DataFrame from CSV for Task 7
df_final = pd.read_csv('final_data_task6.csv')

# Add "Mr." and "Mrs." based on gender
df_final['First Name'] = np.where(df_final['Gender'] == 'M', 'Mr. ' + df_final['First Name'], 'Mrs. ' + df_final['First Name'])

# Drop the Gender column
df_final.drop(columns=['Gender'], inplace=True)

# Save updated DataFrame to CSV
df_final.to_csv('final_data_task7.csv', index=False)

Task 8: Promote Designation Level for Employees Age > 29

In [11]:
# Reload the Final DataFrame from CSV for Task 8
df_final = pd.read_csv('final_data_task7.csv')

# Promote designation level by 1 for employees age > 29
df_final.loc[df_final['Age'] > 29, 'Designation Level'] += 1

# Save updated DataFrame to CSV
df_final.to_csv('final_data_task8.csv', index=False)

Task 9: Calculate Total Project Cost for Each Employee

In [12]:
# Reload the Final DataFrame from CSV for Task 9
df_final = pd.read_csv('final_data_task8.csv')

# Calculate total project cost for each employee
total_proj_cost = df_final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
total_proj_cost.columns = ['ID', 'First Name', 'Total Cost']

# Save the new DataFrame to CSV
total_proj_cost.to_csv('total_project_cost_task9.csv', index=False)

Task 10: Print Employee Details for Cities Containing the Letter "o"

In [13]:
# Reload the Final DataFrame from CSV for Task 10
df_final = pd.read_csv('final_data_task8.csv')

# Print employee details for cities containing the letter "o"
filtered_df = df_final[df_final['City'].str.contains('o', case=False)]
print(filtered_df)

      ID     Project       Cost    Status      City  Age  First Name  \
3   A002   Project 2  2000000.0   Ongoing    London   27  Mrs. Alice
4   A002   Project 6   680000.0    Failed    London   27  Mrs. Alice
8   A004   Project 4  5500000.0   Ongoing  New York   31   Mrs. Nina
9   A004  Project 12  1000000.0   Ongoing  New York   31   Mrs. Nina
10  A004  Project 13  3000000.0  Finished  New York   31   Mrs. Nina

    Last Name  Designation Level     Bonus
3   Luxumberg                  2       0.0
4   Luxumberg                  1       0.0
8       Adgra                  3       0.0
9       Adgra                  3       0.0
10      Adgra                  3  150000.0